@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-white bg-gradient-cover bg-no-repeat min-h-screen;
}

main {
  background: transparent;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5px !important; /* Ajusta el número según necesites */
}

.swiper-pagination-bullet {
  background-color: orangered !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
